<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Moveable</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="../static/load.css" />
        <script src="../static/load.js"></script>

    </head>
    <body>
        <h2 id="header">Select containers to unload</h2>
        <button id="done" class="done-btn btn btn-success" onclick="doneSelecting()">Done</button>

        <div class="grid-container">
            {% for col in range(12) %}
                {% set cellId = 'cell-' + (0)|string + '-' + col|string %}
                <div class="grid-item" id="{{ cellId }}" style="background-color: black"></div>
            {% endfor %}

            {% for row in range(8) %}
                {% for col in range(12) %}
                    {% set cellId = 'cell-' + (row + 1)|string + '-' + col|string %}
                    {% set cellName = manifestData[row][col][1] %}
                    {% if cellName not in ['NAN', 'UNUSED'] %}
                        <div class="grid-item" id="{{ cellId }}" {% if cellId in selectedCells %}selected{% endif %} style="background-color: {{ manifestData[row][col][2] }} " onclick="handleCellClick('{{ cellId }}', '{{ cellName }}')">
                            <div class="name" data-toggle="tooltip" data-placement="top" title="{{ manifestData[row][col][1] }}">{{ manifestData[row][col][1][:5] }}</div>
                        </div>
                    {% elif cellName in ['UNUSED']%}
                        <div class="grid-item" id="{{ cellId }}" style="background-color: white"></div>
                    {% else %}
                        <div class="grid-item" id="{{ cellId }}" style="background-color: gray"></div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        <div class="container-input container">
            <label for="containerInput">Enter container information:</label>
            <input type="text" class="form-control" id="containerInput" onkeydown="handleContainerInput(event)">
        </div>

        <div class="confirmation-popup container">
            <p>Do you want to add more containers?</p>
            <button class="btn btn-primary" onclick="addMoreContainers()">Yes</button>
            <button class="btn btn-secondary" onclick="sendLoadRequest()">No</button>
        </div>

    </body>

</html>