<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Moveable</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="../static/steps.css" />
        <script src="../static/steps.js"></script>
        <script>
            loadSteps({{steps}})
        </script>

    </head>
    <body>
        <div class="grid-container">
            {% for col in range(12) %}
                {% set cellId = 'cell-' + (0)|string + '-' + col|string %}
                <div class="grid-item" id="{{ cellId }}" style="background-color: black"></div>
            {% endfor %}

            {% for row in range(8) %}
                {% for col in range(12) %}
                    {% set cellId = 'cell-' + (row + 1)|string + '-' + col|string %}
                    {% set cellName = manifestData[row][col][1] %}
                    {% if cellName not in ['NAN', 'UNUSED'] %}
                        <div class="grid-item" id="{{ cellId }}" {% if cellId in selectedCells %}selected{% endif %} style="background-color: rgb(63, 59, 59)">
                            <div class="name" data-toggle="tooltip" data-placement="top" title="{{ manifestData[row][col][1] }}">{{ manifestData[row][col][1][:5] }}</div>
                        </div>
                    {% elif cellName in ['UNUSED']%}
                        <div class="grid-item" id="{{ cellId }}" style="background-color: white"></div>
                    {% else %}
                        <div class="grid-item" id="{{ cellId }}" style="background-color: gray"></div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        <div class="modal-overlay" id="modalOverlay"></div>

        <div class="steps-container container">
            <h3 id="stepCount"></h3>
            <div id="stepDisplay"></div>
            <button class="btn btn-primary" onclick="nextStep()">Next</button>
        </div>

        <div class="confirmation-popup container" id="confirmation">
            <div class="popup-content">
                <h2 id="confirmation-message">Operation completed! Make sure to email the captain the updated manifest.</h2>
                <button class="btn btn-primary" onclick="finishTransfer()">OK</button>
            </div>
        </div>

</html>